<div class="center well">
  <h1>About us</h1>
  <div class="row">
    <div class="col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nihil, maxime ipsa fuga, consectetur debitis incidunt cupiditate nemo veniam nesciunt tempore. Iste eveniet quas sint totam voluptate optio dolore ipsa.</p>
    </div>
    <div class="col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores incidunt libero, fugit doloribus esse. Dolores earum non ad ea aliquid aut blanditiis fuga assumenda. Provident debitis odio repellendus cum ex commodi quod magni cupiditate ea voluptatibus modi doloribus sed deleniti nobis dolor quaerat quae quos, voluptatum animi sit exercitationem.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia facilis voluptatum blanditiis temporibus? Minus tempore vitae nemo illum voluptates distinctio, molestias. Doloremque, illum deleniti.</p>
    </div>
    <div class="col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perferendis voluptate nemo ipsa dolor laborum, minus ex earum aspernatur temporibus quos illo voluptatem quisquam ratione omnis, exercitationem?</p>
    </div>
  </div>
</div>