<div class="header">
  <h1>Welcome to my page!</h1>
</div>

<div class="index">
  <div class="index-left">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laborum facilis nulla, non labore, ea odio perferendis veritatis minus totam sapiente debitis nihil velit ab, quasi accusantium voluptatem nobis dicta.</p>
  </div>
  <div class="index-right">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum enim rerum voluptate tempore cum quaerat quis dolor adipisci modi voluptatibus nisi, tenetur magnam, quam quia voluptas sequi distinctio nostrum harum corrupti amet? Fugit, eveniet, unde.</p>
  </div>
</div>