<div class-"container">
  <footer class="footer">
    <small>
      Copyright &copy; Mark Hermano 2018, All Rights Reserved
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      <ul>
    </nav>
  </footer>
</div>